.jumbotron {
    height: 100%;
    width: 100%;
    background-color: white;
  }

  .container {
    width:1025px;
  }
  
  .jumbotron .container {
    max-width: 100%;
    font-family: 'Audiowide', cursive;
  }
  
  p, div {
    font-family: 'Audiowide', cursive;
    font-size: 25px;
}